
.footer-main {

}
.container {
    background-color: #242e35;
    color: rgb(250, 232, 209);

    .left-footer-side {
                
    }
    .left-footer-up {
        display: flex;
        border-bottom: 1px solid rgb(250, 232, 209);
        border-right: 1px solid rgb(250, 232, 209);
    }
    .left-footer-down {
        border-right: 1px solid rgb(250, 232, 209);
    }
}