.leveraging-main {    
    h2 {
        max-width: 720px;
        font-family: Roslindaledisplaycondensed, sans-serif;
        font-size: 64px;
        text-align: center;
        margin: 0px auto 50px;
        font-weight: 500;
        line-height: 137%;
    }
    p {
        max-width: 940px;
        font-size: 20px;
        line-height: 160%;
        margin: 0px auto 105px;
        text-align: center;
        font-family: Favoritstd, sans-serif;
    }
    
}