$height : 90px;
// common link css
.link {
    font-size: 14px;
    cursor: pointer;
    line-height: 22px;
    margin: 0px 40px 0px 0px;    
    font-weight: 500;
    text-align: center;    
    text-decoration: none;
    position: relative;    
    text-transform: uppercase;   
    font-family: VinovestMono;
    
}
.mainMenu-link:hover {
    opacity: 0.5;
}
.close-menu {
    transition: transform 0.5s ease 0s;
    transform: translateY(-101%);
    opacity: 1;
}
.open-menu {
    transition: transform 0.7s ease 0s;
    transform: translateY(0%);
    z-index: 2000;
    opacity: 1;
}
.relative-class {
    position: relative;
}
.display-menu {    
    transform: translateY( 0% );
    transition: transform 0.7s ease 0s;
    z-index: 2000;
}
.close-menu {
    transform: translateY( -101% );
    transition: transform 0.5s ease 0s;
}

//  main custom css
.header-main {    
    // position: fixed;
    position: absolute;
    top: 0%;
    nav {
        position: fixed;
        width: 100%;
    }
    
    .nav-link {
        height: $height;
        padding : 0px 40px;
        display: flex;
        .logo {
            height : 100%;
            .logo-img {
                height: 100%;        
            }
        }
        .header-desktop-transparent-menuitems {            
            padding : 0px 0px 0px 58px;
            display: flex;
            align-items: center;
            width: 100%;
            .main-menu {
                display: flex;
                align-items: center;
                .mainMenu-link {
                    // color : rgb(239, 221, 199) ;
                    color : rgb(36, 46, 53) ;
                }
                .main-menu-new {                    
                    position: absolute;
                    top: -20px;
                    left : 100%;
                    color: white;
                    background-color: rgb(69, 137, 207);
                    font-size: 8px;
                    line-height: 1;
                    padding: 4px;
                }                
            }
            .right-menu {
                display: flex;
                align-items: center;
                text-align: right;
                margin-left: auto;
                .login-link {                        
                    padding: 12px 20px;
                    border-radius : 3px;
                    border : 1px solid rgb(36, 46, 53);
                    color :rgb(36, 46, 53);                            
                    margin-right: 0px !important;
                    line-height: 18px;
                    position: relative;
                }
                .login-link::after {
                    content: '';
                    width: 50%;              
                    position: absolute;              
                    border-bottom: 2px solid rgb(36, 46, 53) ;
                    left: 50%;      
                    display: block;
                    padding-bottom: 5px;
                    transform: translateX(-50%) ;
                }
                .right-started-btn {
                    background-color: rgb(168, 109, 55);
                    color : white;
                    border-radius: 3px;
                    padding: 12px 20px;
                    margin-left: 20px;   
                    margin-right: 0px;                         
                    line-height: 18px;
                    border : none;
                    font-family: VinovestMono;                            
                }
                .right-started-btn:hover {
                    box-shadow: rgb(0 0 0 / 30%) 0px 4px 20px ;
                    transition: box-shadow 0.6s ease-in-out 0s;
                }
            }
        }
    }
        
    .header-desktop-white {        
        nav {            
            background-color: white;            
        }
    }

    .header-mobile {
        display: none;
    }
        
    
}