.footer-main {
    // display: flex;
    // justify-content: center;
    position: relative;
    .footer-card {
        font-weight: 500;
        background-color: rgb(239, 221, 199);
        border: 4px solid rgb(36, 46, 53);
        max-width: 980px;
        margin: 0px auto;
        padding: 80px 0px;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        h2 {
            font-family: Roslindaledisplaycondensed, sans-serif ;
            font-size: 64px;
            line-height: 84px;
            text-align: center;
            margin: 0px;
            color: rgb(36, 46, 53);
        }
        p {
            margin: 0px;
            padding: 23px 0px 47px;
            font-family: VinovestMedium;
            font-size: 20px;        
            line-height: 30px;
            text-align: center;
            max-width: 600px;
        }
        .start-wine-img {
            position: absolute;
            inset: auto auto 0px 15.23%;
            mix-blend-mode: multiply;
        }
        .end-wine-img {
            position: absolute;
            inset: auto 15.23% 0px auto;
            mix-blend-mode: multiply;
        }
    }
    .footer-background {
        position: absolute;
        height: 50%;
        width: 100%;
        top : 50%;
        z-index: -1;
        background-color: rgb(36, 46, 53);
    }
}