<div class="footer-main">
    <div class="footer-card">
        <h2>
            Invest in Wine As An Asset
        </h2>
        <p>
            High annualized returns. Low volatility. No commissions. No hidden fees. What more could you want?
        </p>
        <app-animation-btn
            [label]="label"
            [onClick]="onAnimationBtnClick"
        ></app-animation-btn>
        <img src={{startWine_img}} alt="start_wine_img" class="start-wine-img">     
        <img src={{endWine_img}} alt="end_wine_img" class="end-wine-img">   
    </div>
    <div class="footer-background"></div>
</div>