<div class="howitworks-main">

    <div class="img-container" >
        <img src={{path}} alt="" 
            *ngFor="let path of imgs; index as index"
            width="904" height="828"
            appIntersectImg
            #intersection="intersection"
            (isIntersecting)="Intersecting($event , index)"
            [isContinuous]="true"
        >
    </div>

    <div class="sticky-div">
        <span>how it works</span>
        <h1>Invest in minutes</h1>
        <div 
            class="list-div runAnimation" 
            [ngClass]="maxIndex  === i ? 'red-div' : ''"
            *ngFor="let item of portfolioLists; let i = index"
        >
            <h2>
                {{item.title}}
            </h2>
            <p *ngIf="maxIndex === i">
                {{item.content}}
            </p>
        </div>
    </div>
    

</div>