.title-main {
    background-color: rgb(239, 221, 199);
    display: flex;
    flex-direction: column;
    align-items: center;    

    .title-content {
        margin: 0px auto;
        padding: 170px 8.888% 15px;
        font-family: vinovestmedium;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .text-title {
            font-size: 64px;
            color: rgb(36, 46, 53);
            font-family: RoslindaleDisplayCondensed;
            font-weight: 500;
            text-align: center;
            line-height: 131.25%;
            margin: 0px auto;        
        }
        .text-content {
            font-size: 20px;
            text-align: center;
            line-height: 160%;
            margin: 30px auto 60px;
            max-width: 596px;            
        }
        .get-started-btn {
            min-width: 254px;
            height: 71px;
            padding: 0px 10px;
            background: transparent;
            border: 2px solid rgb(36, 46, 53);
            position: relative;
            margin: 0px auto;
            
            .get-started-btn-name{
                color: rgb(239, 221, 199);
                font-size: 18px;
                text-transform: uppercase;
                background-color: rgb(36, 46, 53);
                position: absolute;
                left: 0px;
                top: 0px;                
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Favoritmonostd, sans-serif;
                transform: translate3d(-8px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transition: all 0.3s ease 0s;
                transform-style:  preserve-3d;
                border: 2px solid rgb(36, 46, 53);
            }
        }
        .get-started-btn:hover .get-started-btn-name {
            transform: translate3d(-16px, -16px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            background-color: rgb(239, 221, 199);
            color: rgb(36, 46, 53);
            transform-style:  preserve-3d;            
        }
        img {
            height: 900px;
            width: 95%;
            object-fit: contain;
            margin: 0px auto;
        }
    }
}