.footer-list-main {
    .title {
        font-family: Roslindaledisplaycondensed, sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        margin: 0px;        
        margin-bottom: 15px;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .list {
        font-size: 15px;
        text-decoration: none;
        font-family: VinovestMedium;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: inherit;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        margin-bottom: 4px;
    }
    .list:hover {
        opacity: 0.5;
    }
}