<div class="about-us-main">
    <app-title
        [wineTitle]="header_title"
        [content]="header_content"
        [img_path]="wine_img"
    >
    </app-title>
    <app-leveraging
        [title]="leveraging_title"
        [content]="lerveraging_content"
        [img]="leveraging_img"
    ></app-leveraging>
    <app-team
        [questionTitle]="team_questionTitle"
        [title]="team_title"
        [content]="team_content"
        [team_members]="team_members"
        [council_members]="council_members"
    ></app-team>
</div>